Host *
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
    AddKeysToAgent yes
    User danny
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 20
    ServerAliveCountMax 3

Host 192.168.119.*
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host web
    HostName 172.233.196.81

Host plex
    HostName 192.168.119.20

Host lcars
    HostName 192.168.119.70

Host sentry
    HostName 192.168.119.45

Host defiant
    HostName defiant.sfc.ufp

Host argolis
    HostName argolis.sfc.ufp

Host calufrax
    HostName calufrax.sfc.ufp

Host steamdeck
    HostName 192.168.119.109
    User deck

Host pfsense
    HostName 192.168.119.1
    User admin

Host panopticon deathzone pve-main pve-terok pve-empok homeassistant
    User root

Host panopticon
    HostName 192.168.119.10

Host deathzone
    HostName 192.168.119.11

Host pve-main
    HostName 192.168.119.31

Host pve-terok
    HostName 192.168.119.36

Host pve-empok
    HostName 192.168.119.37

Host homeassistant
    HostName homeassistant

Host holodeck github gitlab gitlab.dannystewart.com
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

Host holodeck
    HostName 192.168.119.110

Host github
    HostName github.com
    User git

Host gitlab
    HostName 192.168.119.42

Host gitlab.dannystewart.com
    HostName gitlab.dannystewart.com

Host tailscale
    HostName tailscale

Host iri.global
    HostName iri.global
    User iriurl
