# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR ZO_CMD:zo
SETUVAR Z_CMD:z
{{- if (eq .chezmoi.os "darwin") }}
SETUVAR Z_DATA:/Users/danny/\x2elocal/share/z/data
SETUVAR Z_DATA_DIR:/Users/danny/\x2elocal/share/z
{{- else if (eq .chezmoi.os "linux") }}
SETUVAR Z_DATA:/home/danny/\x2elocal/share/z/data
SETUVAR Z_DATA_DIR:/home/danny/\x2elocal/share/z
{{- end }}
SETUVAR Z_EXCLUDE:\x5e/Users/danny\x24\x7c\x5e/home/danny\x24
SETUVAR __fish_initialized:3800
SETUVAR _fisher_franciscolourenco_2F_done_files:\x7e/\x2econfig/fish/conf\x2ed/done\x2efish
SETUVAR _fisher_jethrokuan_2F_z_files:\x7e/\x2econfig/fish/functions/__z\x2efish\x1e\x7e/\x2econfig/fish/functions/__z_add\x2efish\x1e\x7e/\x2econfig/fish/functions/__z_clean\x2efish\x1e\x7e/\x2econfig/fish/functions/__z_complete\x2efish\x1e\x7e/\x2econfig/fish/conf\x2ed/z\x2efish
SETUVAR _fisher_jorgebucaran_2F_autopair_2E_fish_files:\x7e/\x2econfig/fish/functions/_autopair_backspace\x2efish\x1e\x7e/\x2econfig/fish/functions/_autopair_insert_left\x2efish\x1e\x7e/\x2econfig/fish/functions/_autopair_insert_right\x2efish\x1e\x7e/\x2econfig/fish/functions/_autopair_insert_same\x2efish\x1e\x7e/\x2econfig/fish/functions/_autopair_tab\x2efish\x1e\x7e/\x2econfig/fish/conf\x2ed/autopair\x2efish
SETUVAR _fisher_laughedelic_2F_brew_2D_completions_files:\x7e/\x2econfig/fish/completions/brew\x2efish
SETUVAR _fisher_meaningful_2D_ooo_2F_sponge_files:\x7e/\x2econfig/fish/functions/_sponge_clear_state\x2efish\x1e\x7e/\x2econfig/fish/functions/_sponge_on_exit\x2efish\x1e\x7e/\x2econfig/fish/functions/_sponge_on_postexec\x2efish\x1e\x7e/\x2econfig/fish/functions/_sponge_on_preexec\x2efish\x1e\x7e/\x2econfig/fish/functions/_sponge_on_prompt\x2efish\x1e\x7e/\x2econfig/fish/functions/_sponge_remove_from_history\x2efish\x1e\x7e/\x2econfig/fish/functions/sponge_filter_failed\x2efish\x1e\x7e/\x2econfig/fish/functions/sponge_filter_matched\x2efish\x1e\x7e/\x2econfig/fish/conf\x2ed/sponge\x2efish
SETUVAR _fisher_oh_2D_my_2D_fish_2F_plugin_2D_bang_2D_bang_files:\x7e/\x2econfig/fish/functions/__history_previous_command\x2efish\x1e\x7e/\x2econfig/fish/functions/__history_previous_command_arguments\x2efish\x1e\x7e/\x2econfig/fish/conf\x2ed/plugin\x2dbang\x2dbang\x2efish
SETUVAR _fisher_oh_2D_my_2D_fish_2F_plugin_2D_extract_files:\x7e/\x2econfig/fish/functions/extract\x2efish
SETUVAR _fisher_patrickf1_2F_colored__man__pages_2E_fish_files:\x7e/\x2econfig/fish/functions/cless\x2efish\x1e\x7e/\x2econfig/fish/functions/man\x2efish
SETUVAR _fisher_plugins:franciscolourenco/done\x1emeaningful\x2dooo/sponge\x1eoh\x2dmy\x2dfish/plugin\x2dbang\x2dbang\x1eoh\x2dmy\x2dfish/plugin\x2dextract\x1ejethrokuan/z\x1epatrickf1/colored_man_pages\x2efish\x1ejorgebucaran/autopair\x2efish\x1elaughedelic/brew\x2dcompletions
SETUVAR _fisher_upgraded_to_4_4:\x1d
SETUVAR fish_color_autosuggestion:\x23565f89
SETUVAR fish_color_cancel:\x23c0cefc
SETUVAR fish_color_command:green\x1e\x2d\x2dbold
SETUVAR fish_color_comment:\x23565f89
SETUVAR fish_color_cwd:\x23008AB3
SETUVAR fish_color_cwd_root:red
SETUVAR fish_color_end:\x23ff9e64
SETUVAR fish_color_error:\x23ff9e64
SETUVAR fish_color_escape:\x232ac3de
SETUVAR fish_color_hg_added:green
SETUVAR fish_color_hg_clean:green
SETUVAR fish_color_hg_copied:magenta
SETUVAR fish_color_hg_deleted:red
SETUVAR fish_color_hg_dirty:red
SETUVAR fish_color_hg_modified:yellow
SETUVAR fish_color_hg_renamed:magenta
SETUVAR fish_color_hg_unmerged:red
SETUVAR fish_color_hg_untracked:yellow
SETUVAR fish_color_history_current:\x2d\x2dbold
SETUVAR fish_color_host:\x23c0cefc
SETUVAR fish_color_host_remote:yellow
SETUVAR fish_color_keyword:\x237aa2f7
SETUVAR fish_color_match:\x23f7768e
SETUVAR fish_color_normal:normal
SETUVAR fish_color_operator:\x23ff9e64
SETUVAR fish_color_option:\x232ac3de
SETUVAR fish_color_param:\x23c0cefc
SETUVAR fish_color_quote:\x239ece6a
SETUVAR fish_color_redirection:\x232ac3de
SETUVAR fish_color_search_match:\x2d\x2dbackground\x3d\x230088cc
SETUVAR fish_color_selection:\x2d\x2dbackground\x3d\x230066aa
SETUVAR fish_color_status:\x23c0cefc
SETUVAR fish_color_user:\x23c0cefc
SETUVAR fish_color_valid_path:\x2d\x2dunderline
SETUVAR fish_greeting:\x1d
SETUVAR fish_key_bindings:fish_default_key_bindings
SETUVAR fish_pager_color_background:normal
SETUVAR fish_pager_color_completion:\x23a9b1d6
SETUVAR fish_pager_color_description:\x23787c99
SETUVAR fish_pager_color_prefix:\x2389ddff
SETUVAR fish_pager_color_progress:\x232ac3de\x1e\x2d\x2dbackground\x3d\x23414868
SETUVAR fish_pager_color_secondary_background:normal
SETUVAR fish_pager_color_secondary_completion:\x23a9b1d6
SETUVAR fish_pager_color_secondary_description:\x23787c99
SETUVAR fish_pager_color_secondary_prefix:\x2389ddff
SETUVAR fish_pager_color_selected_background:\x2d\x2dbackground\x3d\x230066aa
SETUVAR fish_pager_color_selected_completion:\x23ffffff
SETUVAR fish_pager_color_selected_description:\x23ffffff
SETUVAR fish_pager_color_selected_prefix:\x2389ddff
SETUVAR sponge_allow_previously_successful:true
SETUVAR sponge_delay:2
SETUVAR sponge_filters:sponge_filter_failed\x1esponge_filter_matched
SETUVAR sponge_purge_only_on_exit:false
SETUVAR sponge_regex_patterns:\x1d
SETUVAR sponge_successful_exit_codes:0
